.cartSec {
    display: flex;
    flex-direction: column;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    min-height: 100vh;
    width: 100vw;
    background-color: black;
    padding-top: 8%;
    color: white;
    align-items: center;
    .addedProducts {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 80%;
        justify-content: center;
        margin-bottom: 20px;
        .cart-item {
            border: 1px solid rgba(255, 255, 255, 0.359);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            padding: 10px;
            img {
                height: 300px;
            }
            .cart-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                button {
                    font-family: "Space Grotesk", serif;
                    width: 200px;
                    height: 40px;
                    font-size: 20px;
                    background-color: black;
                    color: white;
                    border: 1px solid white;
                    cursor: pointer;
                }
            }
        }
    }
    .purch {
        width: 80%;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        button {
            margin-top: 20px;
            font-family: "Space Grotesk", serif;
            width: 300px;
            height: 40px;
            font-size: 20px;
            background-color: black;
            color: white;
            border: 1px solid white;
            cursor: pointer;
        }
    }
}

@media (max-width: 1500px) {
    .cartSec{
        padding-top: 18%;
    }
}

@media (max-width: 1250px) {
    .cartSec{
        padding-top: 20%;
    }
}

@media (max-width: 1050px) {
    .cartSec{
        padding-top: 25%;
    }
}

@media (max-width: 850px) {
    .cartSec{
        padding-top: 30%;
    }
}

@media (max-width: 750px) {
    .cartSec{
        padding-top: 35%;
    }
}

@media (max-width: 650px) {
    .cartSec{
        padding-top: 40%;
    }
}

@media (max-width: 490px) {
    .cartSec{
        padding-top: 45%;
    }
}

@media (max-width: 455px) {
    .cartSec{
        padding-top: 52%;
    }
}

@media (max-width: 400px) {
    .cartSec{
        padding-top: 58%;
    }
}
