.mainShop{
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    width: 100vw;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    .filterMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        height: 100%;
        gap: 20px;
        margin-left: 2%;
        margin-top: 10%;
        .line{
            background-color: rgb(68, 68, 68);
            height: 1px;
            width: 100%;
        }
        .packFilter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            div{
                span{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
    .priceFilter{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 30%;
        gap: 20px;
        margin-left: 2%;
        .line{
            background-color: rgb(68, 68, 68);
            height: 1px;
            width: 100%;
        }
        .sortFrom {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        
            #priceRange {
                width: 90%;
                -webkit-appearance: none;
                appearance: none;
                height: 5px;
                background: white;
                border-radius: 5px;
                outline: none;
                margin-top: 10px;
                cursor: pointer;
        
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    background: white;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        
            .price-values {
                display: flex;
                justify-content: space-between;
                width: 90%;
                font-size: 18px;
                margin-top: 5px;
            }
        }    
    }
    .allProducts{
        margin-top: 11%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 150%;
        .sorted{
            .productsCount{
                .sorts{
                    width: 400px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .filterBy{
                        select{
                            font-family: "Space Grotesk", serif;
                            font-optical-sizing: auto;
                            font-size: 16px;
                            background-color: black;
                            color: white;
                        }
                    }
                }
            }
        }
        .descr{
            width: 70%;
        }
        div{
            h1{
                font-size: 50px;
                font-weight: 700;
            }
        }
        .sorted{
            margin-top: 40px;
            .productsCount{
                display: flex;
                justify-content: space-between;
            }
        }
        .sorted{
            .productsCount{
                .sort-by{
                    margin-right: 2%;
                }
            }
        }
        .bags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            .second-product-card {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                background-color: black;
            }
            .image-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                overflow: hidden;
            }
            a{
                color: white;
            }
            img {
                max-width: 100%;
                height: auto;
            }
            h3 {
                margin-top: 15px;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .price {
                font-size: 16px;
                font-weight: bold;
                margin-top: 5px;
            }
        }
        
    }
}

//responsive

@media (max-width: 800px) {
    .mainShop{
        padding-top: 7%;
        .filterMenu{
            display: none;
        }
        .allProducts{
            width: 100%;
            .bags{
                width: 100%;
                justify-content: center;
                .image-wrapper{
                    width: 360px;
                }
            }
            .sorted{
                .productsCount{
                    .prCount{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 415px){
    .mainShop{
        padding-top: 33%;
        .allProducts{
            .sorted{
                .productsCount{
                    .prCount{
                        width: 37%;
                    }
                }
            }
        }
    }
}