.mainShop{
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    .filterMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10%;
        height: 100%;
        gap: 20px;
        margin-left: 2%;
        .line{
            background-color: rgb(68, 68, 68);
            height: 1px;
            width: 100%;
        }
        .packFilter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            div{
                span{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
    .priceFilter{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 30%;
        gap: 20px;
        margin-left: 2%;
        .line{
            background-color: rgb(68, 68, 68);
            height: 1px;
            width: 100%;
        }
    }
    .allProducts{
        margin-top: 11%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .descr{
            width: 70%;
        }
        div{
            h1{
                font-size: 50px;
                font-weight: 700;
            }
        }
        .sorted{
            margin-top: 40px;
            .productsCount{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}