.mainShop {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  width: 100vw;
  height: auto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}
.mainShop .filterMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 100%;
  gap: 20px;
  margin-left: 2%;
  margin-top: 10%;
}
.mainShop .filterMenu .line {
  background-color: rgb(68, 68, 68);
  height: 1px;
  width: 100%;
}
.mainShop .filterMenu .packFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.mainShop .filterMenu .packFilter div span {
  cursor: pointer;
  text-decoration: underline;
}
.mainShop .priceFilter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 30%;
  gap: 20px;
  margin-left: 2%;
}
.mainShop .priceFilter .line {
  background-color: rgb(68, 68, 68);
  height: 1px;
  width: 100%;
}
.mainShop .priceFilter .sortFrom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.mainShop .priceFilter .sortFrom #priceRange {
  width: 90%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 5px;
  background: white;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
}
.mainShop .priceFilter .sortFrom #priceRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
.mainShop .priceFilter .sortFrom .price-values {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 18px;
  margin-top: 5px;
}
.mainShop .allProducts {
  margin-top: 11%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 150%;
}
.mainShop .allProducts .sorted .productsCount .sorts {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainShop .allProducts .sorted .productsCount .sorts .filterBy select {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-size: 16px;
  background-color: black;
  color: white;
}
.mainShop .allProducts .descr {
  width: 70%;
}
.mainShop .allProducts div h1 {
  font-size: 50px;
  font-weight: 700;
}
.mainShop .allProducts .sorted {
  margin-top: 40px;
}
.mainShop .allProducts .sorted .productsCount {
  display: flex;
  justify-content: space-between;
}
.mainShop .allProducts .sorted .productsCount .sort-by {
  margin-right: 2%;
}
.mainShop .allProducts .bags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mainShop .allProducts .bags .second-product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: black;
}
.mainShop .allProducts .bags .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.mainShop .allProducts .bags a {
  color: white;
}
.mainShop .allProducts .bags img {
  max-width: 100%;
  height: auto;
}
.mainShop .allProducts .bags h3 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.mainShop .allProducts .bags .price {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

@media (max-width: 900px) {
  .mainShop {
    padding-top: 7%;
  }
  .mainShop .filterMenu {
    display: none;
  }
  .mainShop .allProducts {
    width: 100%;
  }
  .mainShop .allProducts .bags {
    width: 100%;
    justify-content: center;
  }
  .mainShop .allProducts .bags .image-wrapper {
    width: 360px;
  }
  .mainShop .allProducts .sorted .productsCount .prCount {
    width: 100%;
  }
}
@media (max-width: 415px) {
  .mainShop {
    padding-top: 33%;
  }
  .mainShop .allProducts .sorted .productsCount .prCount {
    width: 37%;
  }
}
@media (max-width: 690px) {
  .allProducts {
    padding-top: 30px;
  }
}
@media (max-width: 530px) {
  .allProducts {
    padding-top: 50px;
  }
}
@media (max-width: 495px) {
  .allProducts {
    padding-top: 80px;
  }
}/*# sourceMappingURL=shop.css.map */