*{
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden; 
    margin: 0;          
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    nav{
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 13%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: 0.5s ease-in-out;
        &:hover{
            transition: 0.5s ease-in-out;
            background-color: black;
        }
        .desk-nav{
            margin-left: 40px;
            display: flex;
            color: white;
            font-size: 20px;
        }
        ul {
            margin-right: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
            a {
                color: rgb(170, 164, 164);
                transition: 0.5s;
                &:hover {
                    color: white;
                }
            }
            input {
                font-size: 16px;
                font-family: "Space Grotesk", serif;
                font-weight: 600;
                padding-left: 5px;
                background-color: transparent;
                height: 40px;
                width: 100%;
                border: none;
                border-bottom: 2px solid rgb(170, 164, 164); 
                color: white; 
                outline: none; 
                transition: background-color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
                &::placeholder {
                    font-size: 16px;
                    font-family: "Space Grotesk", serif;
                    font-weight: 600;
                    color: rgb(170, 164, 164);
                    transition: color 0.3s ease-in-out;
                }
                &:hover,
                &:focus {
                    border-bottom: 2px solid white;
                    &::placeholder {
                        color: white;
                    }
                }
            }
            li {
                display: flex;
                align-items: center;
                .fa-circle-user {
                    color: rgb(170, 164, 164);
                    font-size: 20px;
                    margin-right: 5px;
                    line-height: 1;
                }
                .inpt {
                    max-width: 120px;
                    position: relative;
                    .ico {
                        top: 25%;
                        left: 80%;
                        position: absolute;
                        color: rgb(170, 164, 164);
                        transition: color 0.3s ease-in-out;
                    }
                }
            }
            input:hover + .ico,
            input:focus + .ico {
                color: white;
            }
        }    
    }
}

.shp-now {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    background-image: url(https://static.wixstatic.com/media/84770f_93b300330b3742f2b1948ef292a91f27~mv2_d_1920_1279_s_2.png/v1/fill/w_1863,h_819,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_93b300330b3742f2b1948ef292a91f27~mv2_d_1920_1279_s_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    .btn-div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        .btn-sec{
            button{
                font-family: "Space Grotesk", serif;
                font-optical-sizing: auto;
                font-weight: 600;
                background-color: transparent;
                padding: 15px 55px;
                border: 2px solid white;
                color: white;
                font-size: 30px;
                cursor: pointer;
                transition: 0.5s ease-in-out;
                &:hover{
                    background-color: white;
                    color: black;
                    transition: 0.5s ease-in-out;
                }
            }
        }
        div{
            h1{
                color: white;
                font-size: 70px;
            }
        }
    }
}
