@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
header nav {
  background-color: rgba(48, 48, 48, 0.45);
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.5s ease-in-out;
}
header nav:hover {
  background-color: rgb(48, 48, 48);
}
header nav .desk-nav {
  margin-left: 40px;
  display: flex;
  color: white;
  font-size: 20px;
}
header nav .desk-nav a {
  color: white;
}
header nav .nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 50px;
}
header nav .nav-right .burger-menu {
  display: none;
}
header nav .inpt {
  width: 30%;
  position: relative;
}
header nav .inpt input {
  font-size: 16px;
  font-family: "Space Grotesk", serif;
  font-weight: 600;
  padding-left: 5px;
  background-color: transparent;
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(170, 164, 164);
  color: white;
  outline: none;
  transition: border-bottom 0.3s ease-in-out;
}
header nav .inpt input::-moz-placeholder {
  color: rgb(170, 164, 164);
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
header nav .inpt input::placeholder {
  color: rgb(170, 164, 164);
  transition: color 0.3s ease-in-out;
}
header nav .inpt input:hover, header nav .inpt input:focus {
  border-bottom: 2px solid white;
}
header nav .inpt input:hover::-moz-placeholder, header nav .inpt input:focus::-moz-placeholder {
  color: white;
}
header nav .inpt input:hover::placeholder, header nav .inpt input:focus::placeholder {
  color: white;
}
header nav .inpt .ico {
  position: absolute;
  top: 25%;
  left: 90%;
  color: rgb(170, 164, 164);
  transition: color 0.3s ease-in-out;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
header nav ul a {
  color: rgb(170, 164, 164);
  transition: 0.5s;
}
header nav ul a:hover {
  color: white;
}
header nav ul li {
  display: flex;
  align-items: center;
}
header nav ul li .fa-circle-user {
  color: rgb(170, 164, 164);
  font-size: 20px;
  margin-right: 5px;
}
header nav ul li .fa-circle-user:hover {
  color: white;
}

.shp-now {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  background-image: url(https://static.wixstatic.com/media/84770f_93b300330b3742f2b1948ef292a91f27~mv2_d_1920_1279_s_2.png/v1/fill/w_1863,h_819,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_93b300330b3742f2b1948ef292a91f27~mv2_d_1920_1279_s_2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.shp-now .btn-div {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.shp-now .btn-div .plan {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.shp-now .btn-div .btn-sec button {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  background-color: transparent;
  padding: 10px 55px;
  border: 2px solid white;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.shp-now .btn-div .btn-sec button:hover {
  background-color: white;
  color: black;
  transition: 0.5s ease-in-out;
}
.shp-now .btn-div div h1 {
  color: white;
  font-size: 70px;
}
.shp-now .btn-div div .fa-chevron-down {
  margin-top: 40px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.new-arr {
  display: flex;
}
.new-arr .arrivals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  height: 70vh;
  width: 50vw;
}
.new-arr .arrivals div h1 {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: white;
  font-size: 55px;
}
.new-arr .arrivals div button {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  background-color: transparent;
  padding: 10px 55px;
  border: 2px solid white;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.new-arr .arrivals div button:hover {
  background-color: white;
  color: black;
  transition: 0.5s ease-in-out;
}
.new-arr .bag-photo {
  height: 70vh;
  width: 50vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://static.wixstatic.com/media/84770f_93b2185955e84e4fbeeecad36c77fedc~mv2_d_1920_1920_s_2.png/v1/fill/w_933,h_722,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_93b2185955e84e4fbeeecad36c77fedc~mv2_d_1920_1920_s_2.png);
}

.short {
  width: 100vw;
  height: 64vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}
.short .short-ct-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.short .short-ct-img .flexPhoto {
  width: 100%;
  height: 105%;
  display: flex;
}
.short .short-ct-img a {
  color: white;
}
.short .short-ct-img img {
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.short .short-ct-img .text-overlay {
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
.short .short-ct-img:hover img {
  transform: scale(1.05);
  filter: brightness(40%);
}
.short .short-ct-img:hover .text-overlay {
  opacity: 1;
}

.now-sale {
  height: 80vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  font-size: 30px;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
.now-sale .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.now-sale .products .product-card {
  background-color: black;
  color: white;
  text-align: center;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.now-sale .products .product-card:hover {
  transform: scale(1.05);
}
.now-sale .products .product-card a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.now-sale .products .product-card .image-wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  border-radius: 10px;
}
.now-sale .products .product-card .image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.now-sale .products .product-card h3 {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}
.now-sale .products .product-card .price {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
}
.now-sale .main-txt {
  margin-top: 5%;
  letter-spacing: 7px;
}
.now-sale .sale-off {
  letter-spacing: 5px;
}

.paraSec {
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://static.wixstatic.com/media/84770f_0e8ed0ee72314e2f9c9f53e51ebc660f~mv2_d_2500_1366_s_2.jpg/v1/fill/w_1190,h_638,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_0e8ed0ee72314e2f9c9f53e51ebc660f~mv2_d_2500_1366_s_2.jpg);
}
.paraSec .textPara {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.paraSec .textPara .textBox {
  margin-left: 30%;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: white;
  width: 50%;
}
.paraSec .textPara .textBox h1 {
  font-size: 50px;
}
.paraSec .textPara .textBox span {
  font-size: 25px;
}

.contact {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15%;
  background: black;
  color: white;
  padding: 50px;
  font-family: Arial, sans-serif;
}
.contact .contact-form {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.contact .contact-form .input-group {
  display: flex;
  gap: 30px;
}
.contact .contact-form .input-group div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.contact .contact-form label {
  margin-top: 15px;
  font-size: 18px;
}
.contact .contact-form input, .contact .contact-form textarea {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  background: black;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  outline: none;
  resize: none;
  transition: 0.3s;
}
.contact .contact-form input:hover, .contact .contact-form textarea:hover {
  border-color: rgb(122, 122, 122);
}
.contact .contact-form button {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  margin-left: 54.5%;
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  background: black;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.contact .contact-form button:hover {
  border-color: rgb(122, 122, 122);
  color: rgb(122, 122, 122);
}
.contact .contact-info {
  padding-top: 40px;
  width: 20%;
}
.contact .contact-info h2 {
  padding-bottom: 20px;
  font-size: 40px;
  margin-bottom: 10px;
}
.contact .contact-info p {
  padding-bottom: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}

.mail-list {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  width: 100vw;
  height: 50vh;
  background-color: #111;
}
.mail-list .subscription-form {
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mail-list .subscription-form h2 {
  font-size: 60px;
  font-weight: bold;
}
.mail-list .subscription-form p {
  font-size: 30px;
  margin-bottom: 20px;
}
.mail-list .subscription-form label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.mail-list .subscription-form input[type=email] {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  width: 40%;
  padding: 10px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}
.mail-list .subscription-form input[type=email]:hover {
  border-color: rgb(122, 122, 122);
  color: rgb(122, 122, 122);
}
.mail-list .subscription-form input[type=email]:focus {
  outline: none;
}
.mail-list .subscription-form .checkbox-container {
  display: flex;
  margin-right: 26.4%;
  gap: 5px;
  background-color: transparent;
}
.mail-list .subscription-form .checkbox-container input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.mail-list .subscription-form .checkbox-container input[type=checkbox]::after {
  content: "✔";
  font-size: 12px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.mail-list .subscription-form .checkbox-container input[type=checkbox]:checked::after {
  opacity: 1;
}
.mail-list .subscription-form .checkbox-container label {
  font-size: 14px;
}
.mail-list .subscription-form button {
  width: 41.2%;
  padding: 12px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}
.mail-list .subscription-form button:hover {
  border-color: rgb(122, 122, 122);
  color: rgb(122, 122, 122);
}

.footer {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  height: 5vh;
  background-color: #3a3a3a;
  padding: 20px 0;
}
.footer .footer-container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #888;
  font-size: 14px;
}
.footer .footer-text {
  font-size: 17px;
  margin: 0;
}
.footer .footer-nav {
  display: flex;
  gap: 15px;
  font-size: 17px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.footer .footer-nav a {
  color: #888;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer .footer-nav a:hover {
  color: #fff;
}

@media (max-width: 1415px) {
  .contact {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .contact .contact-info {
    width: 50vw;
  }
}
@media (max-width: 1100px) {
  .now-sale {
    height: 120vh;
  }
}
@media (max-width: 960px) {
  header nav .desk-nav {
    margin-right: 20px;
  }
  header nav .nav-right .inpt input {
    max-width: 200px;
  }
  .paraSec {
    height: 90vh;
  }
}
@media (max-width: 799px) {
  .shp-now {
    display: flex;
    flex-direction: column;
  }
  .shp-now .btn-div {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
  }
  .shp-now .btn-div .plan {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  header nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8%;
    height: 15%;
    background-color: black;
  }
  header nav .desk-nav {
    margin-left: 3%;
  }
  header nav .nav-right {
    position: relative;
  }
  header nav .nav-right .inpt {
    left: 10%;
  }
  header nav .nav-right .inpt input {
    width: 400%;
  }
  header nav .nav-right .inpt .ico {
    left: 300%;
  }
  header nav .nav-right .resp-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.4s ease-in-out;
    z-index: 999;
    font-size: 35px;
  }
  header nav .nav-right .resp-nav .inpt {
    width: 100%;
  }
  header nav .nav-right .resp-nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  header nav .nav-right .resp-nav ul li i {
    display: none;
  }
  header nav .nav-right .resp-nav.show {
    width: 100vw;
    right: 0;
  }
  header nav .nav-right .burger-menu {
    z-index: 1000;
    position: absolute;
    right: -100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30px;
    height: 30px;
  }
  header nav .nav-right .burger-menu .dv1,
  header nav .nav-right .burger-menu .dv2,
  header nav .nav-right .burger-menu .dv3 {
    height: 4px;
    background-color: white;
    transition: 0.3s;
  }
  header nav .nav-right .burger-menu .dv1 {
    width: 15px;
  }
  header nav .nav-right .burger-menu .dv3 {
    width: 15px;
    margin-left: 50%;
  }
  header nav .nav-right .burger-menu.active .dv1 {
    transform: rotate(45deg) translate(5px, 13px);
    width: 30px;
  }
  header nav .nav-right .burger-menu.active .dv2 {
    opacity: 0;
  }
  header nav .nav-right .burger-menu.active .dv3 {
    transform: rotate(-45deg) translate(5px, -13px);
    width: 30px;
    margin-left: 0;
  }
  .shp-now .btn-div .plan {
    width: 100%;
  }
  .new-arr {
    flex-direction: column;
  }
  .new-arr .arrivals {
    width: 100vw;
    height: 50vh;
  }
  .new-arr .bag-photo {
    width: 100vw;
    height: 50vh;
  }
  .short {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1);
    width: 100vw;
  }
  .short .short-ct-img {
    width: 100%;
    height: auto;
  }
  .short .short-ct-img .flexPhoto {
    height: 122%;
    margin-bottom: -10px;
    margin-bottom: 20%;
  }
  .now-sale {
    height: 120vh;
  }
  .paraSec .textPara {
    width: 100%;
  }
  .paraSec .textPara .textBox {
    margin-left: 0%;
  }
  .contact {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .contact .contact-info {
    width: 100%;
  }
  .mail-list .subscription-form button {
    width: 43%;
  }
  .mail-list .subscription-form .checkbox-container {
    margin-left: 20%;
  }
  .footer .footer-container {
    flex-direction: column;
  }
}
@media (max-width: 744px) {
  .now-sale {
    height: 170vh;
  }
  header nav .desk-nav {
    margin-right: -50px;
  }
  header nav .nav-right .inpt {
    left: 15%;
  }
  header nav .nav-right .burger-menu {
    left: 130%;
    right: 0;
  }
}
@media (max-width: 500px) {
  header nav {
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  header nav .desk-nav {
    margin-left: 30px;
  }
  header nav .nav-right .burger-menu {
    margin-bottom: 20%;
    margin-right: 40px;
    left: 160%;
  }
  header nav .nav-right .resp-nav.show {
    width: 100vw;
  }
  .shp-now .btn-div .plan {
    flex-direction: column;
  }
  .paraSec .textPara .textBox {
    width: 90%;
    margin-left: 10px;
  }
  .now-sale {
    height: 170vh;
  }
  .mail-list .subscription-form .checkbox-container {
    margin-left: 0%;
  }
  .mail-list .subscription-form h2 {
    font-size: 35px;
  }
  .mail-list .subscription-form button {
    width: 95%;
  }
  .mail-list .subscription-form .emailInpt {
    width: 90% !important;
  }
  .footer {
    height: 20vh !important;
  }
  .footer .footer-container {
    margin-top: 20px;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .footer .footer-container .footer-text {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .footer .footer-container .footer-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */